#global{
    -fx-background-color: #f7f7f7;
}

#tool-bar{
    -fx-min-height: 80px;
    -fx-background-color: white;
    -fx-border-color: #b2b2b2;
    -fx-border-width: 0px 0px 1px 0px;
}

#pdaTitle {
    -fx-text-fill: white;
}

#button-row * {
    -fx-text-fill: #6a6a6a;
}

.tool-buttons{
    -fx-background-color: #f5f5f5;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-text-fill: #353535;
    -fx-border-color: #dfdfdf;
    -fx-border-radius: 0px;
}

.tool-buttons:disabled {
    -fx-background-color: #e3e3e3;
}

.de-activated-save-button {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: white;
}


.tool-buttons:hover{
    -fx-background-color: #ececec;
}

#side-bar {
    -fx-background-color: #455A64;

}


.side-tool-buttons{
    -fx-min-height: 40px;
    -fx-text-alignment: center;
    -fx-graphic-text-gap: 2px;
    -fx-content-display: top;
    -fx-background-color: none;
    -fx-max-width: 90px;
    -fx-text-fill: #ffffff;
    -fx-border-color: #f6f6f6;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-radius: 0px;
    -fx-padding: 15px 10px 15px 10px;
}

.side-tool-buttons:hover{
    -fx-background-color: #4e6772;
}

.logo-text {
    -fx-font-size: 30px;
    -fx-fill: #676767;
    -fx-font-weight: bolder;
    -fx-font-family: arial;
    -fx-stroke-width: 1px;
}

/*--home--*/

#home-label{
    -fx-font-size: 43px;
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
    -fx-padding: 20px 0px 0px 30px;
}

#home #home-grid{
    -fx-background-color: #fafafa;
}
#home-grid{
    -fx-padding: 40px 30px 10px 30px;
}

.home-boxes{
    -fx-background-color: white;
    -fx-border-color: #4CAF50;
    -fx-border-width: 0px 0px 5px 0px;
    -fx-max-height: 500px;
    -fx-min-height:300px;
}

.home-boxes-content{
    -fx-padding: 20px ;
    -fx-border-color: #e6e6e6;
    -fx-border-width: 1px 1px 0px 1px;
}


#home .text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
    -fx-cursor: default;

}


.green-button-theme{
    -fx-text-fill: white;
    -fx-background-color: #2ab27b;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, #228e62, 0, 0, 0, 3);
    -fx-font-family: sans-serif;
    -fx-min-width: 100px;
    -fx-padding: 7px 10px 5px 10px;
}

.green-button-theme:pressed{
    -fx-background-color: #21966a;
}


.home-boxes-content .text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}
.home-boxes-content .text-area *{
    -fx-cursor: default;
}

.home-boxes-content .text-area .content, .home-boxes-content.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.home-boxes-content .text-area *{
    -fx-background-color: none;
    -fx-border-width: 0px;
    -fx-min-height: 0px;
    -fx-text-alignment: center;
    -fx-padding: 0px;
}

.home-boxes-content .text-area *.text {
    -fx-text-alignment: center;
}

.home-button-icon{
    -fx-padding: 10px 0px 15px 0px;
}

.home-button-title{
    -fx-font-weight: bolder;
}

#lContinue {
    -fx-text-fill: #21966a;
}

#lContinue:hover {
    -fx-underline: true;
}
/*--code-definition*/

#taTransitions{
    -fx-background-insets: 0;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;


}

#taTransitions .content,#taTransitions:focused .content {
    -fx-background-color: #fff;
}

#taTransitions{
    -fx-background-color: #fff, #fff;
}


#taTransitions:focused {
    -fx-highlight-fill: #7ecfff;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

#taTransitions .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

#codeRunner .text-field, #taControlStates,#rbAcceptingState,#rbEmptyStack{
    -fx-focus-color: #249c6d;
    -fx-faint-focus-color: rgba(22, 105, 72, 0.13);
}

#vbPdaName .text-field {
    -fx-focus-color: #249c6d;
    -fx-faint-focus-color: rgba(22, 105, 72, 0.13);
}

#codeRunner .field-label {
    -fx-text-fill: #5b5b5b;

    -fx-font-family: sans-serif;
    -fx-font-size: 14px;

}

#codeRunner .instruction{
    -fx-font-size: 12px;
    -fx-text-fill: #5b5b5b;
}

#lClearTransitions{
    -fx-text-fill: #229064;
}

#lClearTransitions:hover{
    -fx-underline: true;
}

/*--pda name window*/

#vbPdaName {
    -fx-background-color: white;
    -fx-border-color: #cecece;
    -fx-border-width: 1px;

}

#lError {
    -fx-font-size: 12px;
    -fx-text-fill: #5b5b5b;
}

#vbPdaName .button {
    -fx-font-size: 14px;
}
/*--pda-runner*/


#vbLeftBar *{
    -fx-font-size: 12px;
}

#spPDARunnerPage, #vbLeftBar {
    -fx-background-color: #d1d1d1;
}

#taInput{
    -fx-focus-color: #249c6d;
    -fx-faint-focus-color: rgba(22, 105, 72, 0.13);
}

.table-view * {
    -fx-border-width: 0px;
}

.table-view {
    -fx-focus-color: transparent;

}
.table-view .filler{
    -fx-background-color: white;
}

.table-view:focused {
    -fx-background-color: -fx-outer-border;
    -fx-background-insets: 0, 1, 2;
}


.table-row-cell:selected {
    -fx-background-color: #2ab27b;
    -fx-background-insets: 0;
}

.table-column {
    -fx-alignment: CENTER;
    -fx-border-width: 1px;
}

#tcConfiguration, #tcAction {
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-color: transparent;
}

.table-row-cell {
    -fx-alignment: center;

}

#transitionBox, #userInputBox, #actionToolBar, #pdaDisplay, #bpTape, #bpStack {
    -fx-background-color: white;
    -fx-border-color: #c9c9c9;
    -fx-border-width: 2px 2px 2px 2px;

}

.pTapeCell{
    -fx-border-width: 1px;
    -fx-border-color: #ffffff;
}

.pTapeCell Label{
    -fx-text-fill: white;
}

#gpTape{
    -fx-background-color: #2ab27b;
}

#spTapePointer{
    -fx-background-color: #b2b2b2;
}

.pda-action-button{
    -fx-background-color: #fafafa;
    -fx-text-fill: #616161;
    -fx-border-color: #e6e6e6;
    -fx-border-width: 1px 1px 1px 1px;
}

.pda-action-button:pressed{
    -fx-background-color: #d9d9d9;
}

#bInstantRun,#bStepRun{
    -fx-font-size: 14px;
}

.stack-cell {
    -fx-border-width: 1px;
    -fx-border-color: #949494;
}

#lTopPointer {
    -fx-text-fill: #6a6a6a;
}

.transition-labels {
    -fx-background-color: white;
    -fx-background-radius: 3%;
    -fx-max-height: 1px;
    -fx-max-width: 1px;
    -fx-padding: 4px 5px 2px 5px;
}

.transition-labels * {
    -fx-fill: #232323;
}

.table-view .column-header, .table-view .filler {
    -fx-border-width: 0, 0;
    -fx-background-color: white;

}

.table-view .column-header {
    -fx-background-color: #ffffff;
    -fx-border-width: 0px 0px 0.2px 0px;
    -fx-border-color: #3e3e3e;

}

.table-view .column-header .label {
    -fx-text-fill: grey;
    -fx-background-color: transparent;
    -fx-font-weight: bold;

}

/*transition selection page*/

#bpTransitionSelector {
    -fx-background-color: white;
    -fx-border-color: #2ab27b;
    -fx-border-width: 1px;
}

.transition-choice {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #b2b2b2;
    -fx-effect: dropshadow(three-pass-box, #228e62, 0, 0, 0, 1);
    -fx-border-width: 1px;
}

.transition-choice:pressed {
    -fx-background-color: #e5e5e5;
}

.transition-choice * {
    -fx-text-fill: #494949;
}


#bRandomSelect, #bTerminate {
    -fx-font-size: 14px;
}

/*output page*/

#vbOutput, #spOutput, #vbStandardDialog {
    -fx-background-color: white;
    -fx-border-color: #cecece;
    -fx-border-width: 1px;
}

#vbOutput .button, #vbStandardDialog .button {
    -fx-font-size: 14px;
}

#bPreviousSolution:disabled, #bNextSolution:disabled {
    -fx-background-color: #2ab27b;
    -fx-effect: none;
}

/*library page */

#library .button {
    -fx-font-size: 14px;
}

#lvLibrary {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: white;
    -fx-border-color: #cecece;
    -fx-border-width: 1px;
}

#lvLibrary .list-cell:filled:selected:focused, #lvLibrary .list-cell:filled:selected,
#lvTransitions .list-cell:filled:selected:focused, #lvTransitions .list-cell:filled:selected {
    -fx-background-color: #2ab27b;
    -fx-text-fill: white;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}

/*quick-definition*/

.spAccordionDefinition {
    -fx-background-color: white;
}

.transition-box-definition {
    -fx-border-color: #cecece;
    -fx-border-width: 1px;
}

#taControlStates {
    -fx-background-insets: 0;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;

}

#taControlStates .content, #taControlStates:focused .content {
    -fx-background-color: #fff;
    -fx-border-color: #cecece;
    -fx-border-width: 1px;
}

#taControlStates {
    -fx-background-color: #fff, #fff;
}

#taControlStates:focused {
    -fx-highlight-fill: #7ecfff;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

#taControlStates .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

#lvTransitions .list-cell {
    -fx-alignment: center;
}

.lTransitionTitle {
    -fx-background-color: #4e6772;
    -fx-text-fill: white;
}

#quickDefinition .accordion .titled-pane .title {
    -fx-background-color: transparent;
    -fx-border-color: #cecece;
    -fx-border-width: 1px;
}

#quickDefinition .accordion .titled-pane .title * {
    -fx-background-insets: 0;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

#quickDefinition * {
    -fx-text-fill: #5b5b5b;
}

#quickDefinition .combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

#quickDefinition .combo-box .combo-box-popup .list-cell:hover, #quickDefinition .combo-box-popup .list-cell:selected {
    -fx-background-color: #2ab27b;
}

#quickDefinition .combo-box .combo-box-popup .list-cell:hover *, .combo-box-popup .list-cell:selected * {
    -fx-fill: white;
}

#cbAcceptingStates * {
    -fx-focus-color: transparent;
}

#quickDefinition .button, .lTransitionTitle {
    -fx-text-fill: white;
}

.lTransitionTitle {
    -fx-text-fill: white;
}

#lvTransitions {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: white;
    -fx-border-color: #cecece;
    -fx-border-width: 1px;
}

